# MySQL
MYSQL_ROOT_PASSWORD=learnova_root_pass
MYSQL_DATABASE=learnova
MYSQL_USER=learnova_user
MYSQL_PASSWORD=learnova_pass
MYSQL_HOST=mysql
MYSQL_PORT=3306

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend
DJANGO_SUPERUSER_EMAIL=admin@learnova.com
DJANGO_SUPERUSER_PASSWORD=admin123

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8000
